
@{
	Layout = null;
	//Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error404</title>
 <link rel="stylesheet" href="~/Asset/FrontEnd/css/error404.css" />
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>4<span></span>4</h1>
        </div>
      
        <h2>Không Tìm Thấy Trang</h2>
        <p>  Xin lỗi nhưng trang bạn đang tìm kiếm không tồn tại, đã bị xóa. tên đã thay đổi hoặc tạm thời không có</p>
        <a href="/">Back to homepage</a>
    </div>
</div>
</body>
</html>
