@model Model.Footer

    <div class="service-area pt-70 pb-40 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30">
                        <div class="service-icon">
                            <i class="pe-7s-world"></i>
                        </div>
                        <div class="service-title">
                            <h3>Dịch vụ chuyên nghiệp</h3>
                            <p>Tư Vấn Thiết Kế Miễn Phí</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30">
                        <div class="service-icon">
                            <i class="pe-7s-portfolio"></i>
                        </div>
                        <div class="service-title">
                            <h3>Kinh nghiệm lâu năm</h3>
                            <p>Với 15 Năm Kinh Nghiệm Trong Lĩnh Vực Nội Thất</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30 sm-mrg">
                        <div class="service-icon">
                            <i class="pe-7s-hammer"></i>
                        </div>
                        <div class="service-title">
                            <h3>Thi công nhanh chóng</h3>
                            <p>Thi Công Lắp Đặt Nhanh Chóng Theo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-service mb-30 xs-mrg sm-mrg">
                        <div class="service-icon">
                            <i class="pe-7s-tools"></i>
                        </div>
                        <div class="service-title">
                            <h3>Bảo trì tận tâm</h3>
                            <p>Bảo Trì,Sữa Chữa,Đổi Mới Trong Vòng 5 Năm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer class="black-bg">
    <div class="footer-top-area ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">Liên Hệ Với Chúng Tôi</h3>
                        <div class="footer-contact">
                            <ul>
                   
                                <li><em class="fa fa-map-marker"></em>Xưởng Sản Xuất:Hát Môn-Phúc Thọ <span>Hà Nội</span></li>
                                <li><em class="fa fa-phone"></em>Điện Thoại: <a href="tel:0989318744">0989.318.744</a> <span></span></li>
                                <li><em class="fa fa-envelope-o"></em>Email: <a href="mailto:tubephongngoc@gmail.com">tubephongngoc@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">Về Chúng Tôi</h3>
                        <ul class="block-content">
                            <p style="color:white">
                                Nội Thất Hồng Ngọc là đơn vị thiết kế, thi công nội, ngoại thất và kiến trúc chuyên nghiệp. Với lợi thế là nhà nghiên cứu, sản xuất nội thất thông tinh kết hợp sở hữu xưởng sản xuất, chúng tôi tự tin mang đến những điều tốt đẹp nhất cho các công trình.
                            </p>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-widget">
                        <h3 class="footer-title">Fage</h3>
                        <ul class="block-content">
                            <div class="fb-page" data-href="https://www.facebook.com/noithattubephongngoc/"  data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/noithattubephongngoc/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/noithattubephongngoc/">Nội Thất Hồng Ngọc</a></blockquote></div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-bootom-area start -->
    <div class="footer-bootom-area ptb-15">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                     @*<div class="copyright">
                        <p  style="text-align:center">Copyright Website Được Thiết Kế By <a href="https://www.facebook.com/NDN199">Nguyễn Danh Ngọc</a></p>
                    </div>*@ 
                </div>
               
            </div>
        </div>
    </div>
    <!-- footer-bootom-area end -->
</footer>