
@{
    ViewBag.Title = "Nội Thất Bích Thủy-Giới Thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Trang Chủ</a></li>
            <li class="active">Giới Thiệu</li>
        </ol>
        <div class="about">
            <div class="about-left">
                <h3>Chúng Tôi Là Ai?</h3>
            </div>
            <div class="about-right">
                <p>Với kinh nghiệm nhiều năm trong lĩnh vực thiết kế và thi công nội thất, Hoàng Gia Nội Thất tự hào trở thành lựa chọn ưu tiên của người dân Hà Nội với những sản phẩm tủ bếp ấn tượng, tiện ích và tiện nghi từ thiết kế tân cổ điển cho đến hiện đại.</p>
            </div>
        </div>

    </div>
    <section class="section" id="section_main">
        <div class="container">
            <div class="row align-center">
                <div class="col medium-7 small-10 large-7">
                    <div class="col-inner text-center">
                        <h1 class="title-ab">Tại sao chọn chúng tôi?</h1>
                        <p class="sub-desc">
                            Khi bạn có yêu cầu đối với Hoàng Gia Nội Thất, chúng tôi sẽ tới tận nhà bạn để đo đạc, lấy yêu cầu cũng như tư vấn về xu hướng, màu sắc, chất liệu…và bất kì thắc mắc nào bạn cần giải đáp. Đảm bảo các yếu tố thẩm mỹ, tiết kiệm tối đa chi phí và thời gian.
                        </p>
                        <div class="is-divider divider clearfix" style="max-width:60px"></div>
                    </div>
                </div>
            </div>
             <div class="row align-center">
                 <div class="col-md-6">

                 </div>
             </div>
        </div>

    </section>
</div>
