@{
    ViewBag.Title = "Lấy Lại Mật Khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="space-custom"></div>
<!-- breadcrumb start -->
</div>
<!-- breadcrumb end -->
<!-- login-area start -->
<!-- Content   ================================================== -->
<div class="user-login pb-60">
    <div class="container">
        <div class="row">
            <div class="centered-title text-center">
                <div class="clear"></div>
                <em>Lấy Lại Mật Khẩu</em>
            </div>
            <div class="clear"></div>
            <div class="col-md-6 col-sm-6 col-md-offset-3 col-sm-offset-3">
               
                <div class="text-success">
                    @ViewBag.Message
                </div>
                <div class="row">
                    <form action="#" method="post" class="login-form">
                        @Html.ValidationSummary(false, "", "error")
                        <p class="form-row pd-right">
                            <label for="EmailAddress">Địa Chỉ Email: <span class="required">*</span></label>
                            @Html.TextBox("EmailAddress", "", new { @class = "form-control", @autofocus = "autofocus" })
                        </p>
                        <p class="lost_password">
                            <input type="submit" value="Submit" class="btn btn-success" />
                        </p>
                    </form>
                </div>
            </div>
            <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>



